<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- Lien vers le CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- barre de navigation -->
<th:block th:replace="navBar"/>
<!-- Contenu Principal -->
<div class="container mt-5">
    <h1 class="mb-4">Bienvenue sur notre modèle RAG</h1>
    <p>
        C'est un projet développé avec Spring Boot conçu pour tester la technologie de <strong>Retrieval-Augmented Generation (RAG)</strong>. Notre objectif est d'enrichir un modèle de langage, tel que Mistral, avec des données issues de documents PDF afin d'améliorer ses capacités de génération et de compréhension.
    </p>
    <p>
        Le projet se compose de deux principales fonctionnalités :
    </p>
    <ul>
        <li>
            <strong>Chat :</strong> Cette fonctionnalité vous permet de discuter en temps réel avec notre modèle de langage enrichi. Grâce aux informations contenues dans les PDF chargés.
        </li>
        <li>
            <strong>Upload :</strong> Cet onglet vous permet de charger des fichiers PDF dans notre système. Les données extraites de ces documents sont utilisées pour enrichir le modèle de langage, améliorant ainsi ses performances et ses réponses.
        </li>
    </ul>

</div>

</body>
</html>